<!DOCTYPE html>
<html lang="en">
  
<head>
    
    <meta charset="utf-8">
    <title>Your Food Solution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
  
<body>

    <div class="container" id="app">
      <div class="columns medium-12 header-image">
        <input id="search-input" v-model="searchValue" type="search" placeholder="Search here and press the icon!">
        <span class="search-span" v-on:click="searchDishes"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span> 
      </div>
      
      <div class="columns medium-12 header-text">
        <div id="columns medium-12">
            <div id="animated-div" v-if="searching"></div>
            <div id="animated-div" v-if="updating"></div>
            <div id="animated-div" v-if="noResult"></div> 
        </div>
        <div id="columns medium-12 update-button-div">
            <h3 class="text-right"><i v-on:click="updatePage" class="fa fa-refresh fa-2x" title="Update Dishes"></i></h3></i>
        </div>
      </div>
      
      <div class="columns medium-3" v-for="dish in dishes">
        <div class="card">
          <div class="card-divider">
            <a :href="dish.webUrl" target="_blank">{{dish.itemName}}</a><span class="price-tag">{{dish.price | priceModifier}}</span>
          </div>
          <div class="card-section">
            <div class="columns medium-6">
                <h6 class="ingredient-text">{{dish.ingredients | tagModifier}}</h6>
            </div>
            <div class="columns medium-6">
                <h6 class="address-text">{{dish.address | tagModifier}}</h6>
            </div>  
          </div>
        </div>
      </div> 
    </div>
  
    <!-- local vue.js library -->
    <script src="assets/js/vue.js"></script> 
    <!--jQuery CDN link -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!-- main js script -->
    <script src="assets/js/app.js"></script>
    
</body>

</html>