.price-tag {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: #20c525;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #20c525;

	/* This makes room for the triangle */
	margin-left: 15%;
	
	position: relative;
	
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.price-tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #e70303;
}

/* Makes the circle */
.price-tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

.header-image{
    background-image: url("assets/images/close-up-cooking-cuisine-958545.jpg");
    background-size: cover;
    background-position: center;
    height: 350px; 
    padding: 75px;    
}

.header-text{
    padding:50px;
}

.card-section{
    text-align: right;
}

.card{
    height: 194px !important;
}

.card-divider{
    text-align: center !important;
    font-weight: 700;    
}

#update-button-div{
    text-align: right;
}

i{
    cursor: pointer;
}

.address-text{
	font-size: 12px;
}

.ingredient-text{
	font-size: 14px;
}